body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:500px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:281px;
  height:500px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:500px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:75px;
  width:279px;
  height:500px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:500px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:75px;
  width:281px;
  height:500px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:46px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1176px;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:599px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:599px;
  width:43px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:599px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:284px;
  height:77px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:281px;
  height:74px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:129px;
  height:51px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:164px;
  width:126px;
  height:48px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:284px;
  height:317px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:275px;
  width:281px;
  height:314px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:457px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u469_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u469_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-273px;
  width:8px;
  height:277px;
}
#u469_seg2 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-273px;
  width:78px;
  height:8px;
}
#u469_seg3 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-279px;
  width:20px;
  height:20px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-131px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:188px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u470_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:307px;
  height:8px;
}
#u470_seg1 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:-4px;
  width:8px;
  height:145px;
}
#u470_seg2 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:133px;
  width:23px;
  height:8px;
}
#u470_seg3 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:127px;
  width:20px;
  height:20px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:46px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:679px;
  width:1180px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1176px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:793px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1061px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:821px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1215px;
  width:113px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:869px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u476_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u476_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1011px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u477_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u477_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1187px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:919px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1323px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1022px;
  width:10px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:927px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:965px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u483_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u483_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:937px;
  width:11px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u485_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u485_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1263px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u486_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u486_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1468px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1468px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:1602px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1726px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:1734px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1868px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:2010px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:1876px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1506px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u495_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u495_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1399px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u496_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u496_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1772px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u497_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u497_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1818px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u498_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u498_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1914px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u499_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u499_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1960px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u500_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u500_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1460px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:1468px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1506px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u503_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u503_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1506px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u504_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u504_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1552px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u505_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u505_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1678px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u506_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u506_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1831px;
  width:10px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:1744px;
  width:11px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1975px;
  width:10px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:1886px;
  width:11px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:1468px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1565px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1630px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
