body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:500px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:281px;
  height:500px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:500px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:75px;
  width:279px;
  height:500px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:500px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:75px;
  width:281px;
  height:500px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:46px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1176px;
  word-wrap:break-word;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:599px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:599px;
  width:43px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:599px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:284px;
  height:77px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:281px;
  height:74px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:129px;
  height:51px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:164px;
  width:126px;
  height:48px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:284px;
  height:317px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:275px;
  width:281px;
  height:314px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:457px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u580_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u580_seg1 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-273px;
  width:8px;
  height:277px;
}
#u580_seg2 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:-273px;
  width:78px;
  height:8px;
}
#u580_seg3 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:-279px;
  width:20px;
  height:20px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-131px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:188px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u581_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:307px;
  height:8px;
}
#u581_seg1 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:-4px;
  width:8px;
  height:145px;
}
#u581_seg2 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:133px;
  width:23px;
  height:8px;
}
#u581_seg3 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:127px;
  width:20px;
  height:20px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:46px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:679px;
  width:1180px;
  height:45px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1176px;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:793px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1061px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:821px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1215px;
  width:113px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:869px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u587_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u587_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1011px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u588_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u588_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1187px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:919px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1323px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1022px;
  width:10px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:927px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:965px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u594_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:54px;
  height:8px;
}
#u594_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:937px;
  width:11px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1137px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u596_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u596_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1263px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u597_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u597_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:1468px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:415px;
  top:1468px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:1602px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1726px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:1734px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1868px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:2010px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:1876px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:1506px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u606_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u606_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:1399px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u607_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u607_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:56px;
  width:20px;
  height:20px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1772px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u608_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u608_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1818px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u609_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u609_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1914px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u610_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u610_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1960px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u611_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u611_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:93px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1460px;
  width:165px;
  height:92px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:161px;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:77px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:1468px;
  width:147px;
  height:76px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:143px;
  word-wrap:break-word;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:1506px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u614_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u614_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1506px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u615_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u615_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u615_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1552px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u616_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u616_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:20px;
  height:20px;
}
#u616_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:1678px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u617_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u617_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u617_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1831px;
  width:10px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:1744px;
  width:11px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:21px;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1975px;
  width:10px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:1886px;
  width:11px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:1468px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1565px;
  width:29px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:1630px;
  width:57px;
  height:20px;
  font-family:'PingFang-SC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
